<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="shorturldb" connectionString="Persist Security Info=False;Min Pool Size=10;Data Source=PEK7-DEV-02.vancloa.cn;Initial Catalog=shorturl;User ID=devuser;Password=24E7E0C8-16D4-4C6C-8E7E-3741A97E4486"/>
  </connectionStrings>
  <appSettings>
    <add key="shorturldb" value="Persist Security Info=False;Min Pool Size=10;Data Source=PEK7-DEV-02.vancloa.cn;Initial Catalog=shorturl;User ID=devuser;Password=24E7E0C8-16D4-4C6C-8E7E-3741A97E4486"/>
  </appSettings>
</configuration>